#header{
    align-content: center;
    font-weight: 800;
    font-style: 'Playfair Display', serif;
    text-align: center;

}

body{
    padding: 20px;
    background-color: var(--primary-darker);
    margin: auto;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: var(--primary-lighter);
    background-image: url("https://i.pinimg.com/736x/c2/55/5a/c2555ad9c7aec4953dcaa4a8d9bedee8.jpg");
}

:root{
    --primary-darker: #1a1a1a;
    --primary-dark: #333333;
    --primary-light: #f2f2f2;
    --primary-lighter: #ffffff;
    --border: #cccccc;

}
